
.services-heading{
    font-size: 35px;
    font-family: sans-serif;
    color: #f59042;
}
.text-line {
    text-decoration: line-through;
    font-size: 14px;
}
.span-text{
    text-decoration: none !important;
    line-height: 100%;
    font-size: 16px;
    color: #ff9800;
    font-weight: 600;
}
.marraige-prediction{
    padding-bottom: 18px !important;
}
.services-btn{
background-color: #ff9800 ;
color: #fff;
}

.card-text-service {
    font-size: 13px;
}
.service-card{
    border: none;
}


  .slide-items{
      width: 80%;
  }
  .slider-img{
    position: relative;
    bottom: 11px !important;
  }
 
  .dropdown-items{
      display: none;
      position: absolute; 
      height: 300px;
      min-width: 200px;
      z-index: 3000;
   overflow: visible;
   position:absolute;top:0px;height:200px;
   z-index: 3000;
   background-color: #f9f9f9;
  min-width: 160px;
 
  }
  .right-side-items:hover .dropdown-items{
      display: block;
      z-index: 1000;
      height: 300px;
      overflow: visible;
      position: absolute;
      z-index: 3000;
      position:absolute;top:0px;height:200px;
  }
  .items{
     
  }
 .item{
     border: 1px solid gray;
     background-color: #f59042;
 }