.products{
    background-color: #f59042;
    color: #fff !important;
    border: 2px solid black;
}
.product-img{
    box-shadow: rgba(10, 12, 11, 0.548) 0px 2px 4px 0px, rgba(15, 15, 15, 0.32) 0px 2px 16px 0px;
}