

.client-container{
    background-color: #f59042;
    
}
.client-card{
    height: auto;
    width: 70%;
    margin: auto;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.slick-prev {
  z-index: 100;
}
.client-img{
  width: 50%;
  margin-left: auto;
    
}
.client-heading
{
    font-size: 35px;
    font-family: sans-serif;
    text-transform: capitalize;
}
.client-text{
    background-color: #f59042;
    text-decoration: none !important;
}
.slider1{
    width: 80%;
    align-items: center;
}
.slides {
    position: relative;
    .slick-prev, .slick-next {
      position: absolute;
      color: #f59042 !important;
     
      top: 50%;
    }
    .slick-prev {
      left: 10%;
    }
    .slick-next {
      right: 10%;
    }
  }
  .slider {
    position: relative;
    overflow: visible !important;
    .slick-prev, .slick-next {
      position: absolute;
      top: 34%;
    }
    .slick-prev {
      position: absolute;
      left: -8% !important;
      z-index: 100;;
    }
    .slick-next {
      position: absolute;
      right: -8% !important;
      z-index: 1;
    }
  }
  .slick-prev:before, .slick-next:before {
    position: relative;
    color: #eb7b0b !important;
    bottom: 20px;
   
  }
  